/* Modo oscuro */

body.dark-mode {
    background-color: #121212;
    color: navy;
}

body.dark-mode header {
    background-color: #b00020;
    color: #fff;
}

body.dark-mode nav {
    background-color: #222;
}

body.dark-mode nav a {
    color: #ccc;
}

body.dark-mode nav a:hover {
    color: #fff;
    /* text-decoration: underline; */
}

body.dark-mode footer {
    background-color: #222;
    color: #ccc;
}

/* Botón modo oscuro */
#dark-mode-toggle {
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    background: #444;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 0.9rem;
    float: right;
    margin-top: -2.5rem;
    margin-right: 1rem;
}

body.dark-mode #dark-mode-toggle {
    background: #ddd;
    color: #222;
}



body.dark-mode section.ventajas,
body.dark-mode #quien-soy,
body.dark-mode h2 {
    color: #f0f0f0;
}

body.dark-mode .restaurante-detalle h2 {
    color: navy;
}


body.dark-mode .restaurante-card,
body.dark-mode .filtro-container,
body.dark-mode .presentacion,
body.dark-mode #perfil,
body.dark-mode .fav-card {
    background-color: #c3bebe;
}


/* Tablas en la parte de admin */
body.dark-mode {
    background-color: #121212;
    /* fondo muy oscuro */
}

body.dark-mode table {
    background-color: #1e1e1e;
    /* fondo tabla oscuro */
    color: #e0e0e0;
    /* texto tabla */
    border-color: #333;
    /* bordes suaves */
}

body.dark-mode th {
    background-color: #333;
    /* encabezado tabla */
    color: #fff;
    border-bottom: 2px solid #f04e30;
    /* un toque de color para destacar */
}

body.dark-mode td {
    border-bottom: 1px solid #444;
    /* separación entre filas */
}

/* Botones */
body.dark-mode .add-btn {
    background-color: #f04e30;
    color: white;
}

body.dark-mode .add-btn:hover {
    background-color: #d43c24;
}

body.dark-mode .tablas-admin {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
}