/* Modo oscuro */

body.dark-mode {
    background-color: #121212;
    /* color: #ef6148; */
}

body.dark-mode header {
    background-color: #b00020;
    color: #fff;
}

body.dark-mode nav {
    background-color: #222;
}

body.dark-mode nav a {
    color: #ccc;
}

body.dark-mode nav a:hover {
    color: #fff;
    /* text-decoration: underline; */
}

body.dark-mode footer {
    background-color: #222;
    color: #ccc;
}

/* Botón modo oscuro */
#dark-mode-toggle {
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    background: #444;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 0.9rem;
    float: right;
    margin-top: -2.5rem;
    margin-right: 1rem;
}

body.dark-mode #dark-mode-toggle {
    background: #ddd;
    color: #222;
}



body.dark-mode section.ventajas,
body.dark-mode #quien-soy {
    color: #f0f0f0;
}

body.dark-mode .restaurante-card,
body.dark-mode .filtro-container,
body.dark-mode .presentacion,
body.dark-mode #perfil,
body.dark-mode .fav-card,
body.dark-mode .restaurante-detalle,
body.dark-mode #admin-content {
    background-color: #1a2b2b;
}


/* Tablas en la parte de admin */
body.dark-mode {
    background-color: #121212;
    /* fondo muy oscuro */
}

body.dark-mode table {
    background-color: #1e1e1e;
    /* fondo tabla oscuro */
    color: #e0e0e0;
    /* texto tabla */
    border-color: #333;
    /* bordes suaves */
}

body.dark-mode th {
    background-color: #333;
    /* encabezado tabla */
    color: #fff;
    border-bottom: 2px solid #f04e30;
    /* un toque de color para destacar */
}

body.dark-mode td {
    border-bottom: 1px solid #444;
    /* separación entre filas */
}

/* Botones */
body.dark-mode .add-btn {
    background-color: #f04e30;
    color: white;
}

body.dark-mode .add-btn:hover {
    background-color: #d43c24;
}

body.dark-mode h3,
body.dark-mode p,
body.dark-mode h1,
body.dark-mode .valoracion {
    color: white;
}

body.dark-mode .color-vegano {
    color: #cdff81;
}

body.dark-mode .color-no-vegano {
    color: #ee9694;
}

body.dark-mode #perfil h2,
body.dark-mode #perfil p,
body.dark-mode #restaurantes-favoritos,
body.dark-mode .fav-card-img,
body.dark-mode #sabores-inca-inicio,
body.dark-mode #es-vegano,
body.dark-mode .h2-modo-oscuro {
    color: white;
}

body.dark-mode #formCrearRestaurante p {
    color: black;
}

.image-container {
    color: white;
}

body.dark-mode .imagen-restaurante,
body.dark-mode #valoraciones h2,
body.dark-mode .valoracion {
    color: white;
}

body.dark-mode .enlace {
    color: #cdff81;
}

@media (max-width: 768px) {
    body.dark-mode table {
        background-color: #1e1e1e;
        color: #E0E0E0;
    }

    body.dark-mode td::before,
    body.dark-mode td,
    body.dark-mode th {
        color: #E0E0E0;
    }

    body.dark-mode th {
        background-color: #333333;
    }

    body.dark-mode tr {
        background-color: #1e1e1e;
    }
}

body.dark-mode .valoracion, body.dark-mode .valoracion p {
    color: black;
}